{{ yield }}
<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <img src='{{host}}{{url}}' class='responsive-img'/>
        <span class="card-title">{{title}}</span>
    </div>
    <div class="card-content">
      <p>{{name}}</p>
    </div>
  </div>
</div>
