<div class='row'>
  {{#each validFiles as |file|}}
    <div style='display: inline-block'>
      <p>Valid: {{file.file.name}}</p>
      {{image-preview image=file class='preview'}}
    </div>
  {{/each}}
</div>
<div class='row'>
  {{#each invalidFiles as |file|}}
    <div style='display: inline-block'>
      <p>Invalid: {{file.file.name}}</p>
      {{image-preview image=file class='preview'}}
    </div>
  {{/each}}
</div>

<div class='row'>
  {{md-btn text='Clear' action='clearFiles'}}
  {{#if allReady }}
    {{md-btn text='Upload' action='uploadFiles'}}
  {{/if}}
  {{image-input}}
</div>
