<div class="rush-card">
  <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="{{host}}{{event.image_id.url}}" class="responsive-img"/>
    </div>
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">{{event.title}}</span>
      <p>{{event.description}}</p>
    </div>
  </div>
</div>
