<header>
    <title>Triangle Fraternity</title>

    <link rel="icon" href="<%= image_url 'favicon.ico' %>"/>

    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!--Import Main Font-->
    <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</header>
<main>
  <body>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="oldrose-background">
        <div class="nav-wrapper">
          <div class='hide-on-med-and-up'>{{#link-to 'home' class='brand-logo'}}Triangle{{/link-to}}</div>
          <div class='hide-on-small-only'>{{#link-to 'home' class='brand-logo pad-left'}}Triangle Fraternity | Illinois Chapter{{/link-to}}</div>
          <ul id="nav-mobile" class="right table-of-contents hide-on-med-and-down">
            <!-- <li>{{auth-links}}</li> -->
            <li><a class="navbar-font-white" href="#about">About</a></li>
            <li><a class="navbar-font-white" href="#members">Exec</a></li>
            <li><a class="navbar-font-white" href="#rush">Rush</a></li>
            <li><a class="navbar-font-white" href="#scholarship">Scholarship</a></li>
            <li><a class="navbar-font-white" href="#contact">Contact</a></li>
         </ul>
        </div>
      </nav>
    </div>

    {{outlet}}

    {{md-modal-container}}

  </body>
</main>

<footer class="oldrose-background page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Triangle Fraternity | Illinois Chapter</h5>
        <a href="http://triangle.org/">National Triangle Website</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Brother Search</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">President</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">External Director</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Social Chair</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016
    <a class="grey-text text-lighten-4 right" href="#!">Presented by the Brothers of Triangle</a>
    </div>
  </div>
</footer>
