<section id="about" style="background-size: cover; background-image: url('assets/images/lighthouse.png');" class="section scrollspy">
  <div class="container">
    <h2 class="center-align">About Triangle</h2>
    <p class="indent">For over 100 years, Triangle Fraternity has provided an environment which fosters personal growth and professional success. Triangle is a brotherhood where undergraduates in engineering, architecture and science can develop long-lasting friendships
      and connections with a nationwide network of alumni.</p>
    <p class="indent">Triangle is active in both the Illinois and Greek community. With the University, we participate as Engineering Council representatives, compete in the EOH Robot Competition, and host dinners with U of I professors. In the Greek community, we host
      social exchanges with sororities and women's groups on campus, have brotherhood events for our membership, and spearhead philanthropy efforts all throughout the year.</p>
  </div>
</section>

<div class="hide-on-med-and-down">
  {{md-parallax image="assets/images/house.jpg" }}
</div>
<img src="assets/images/house.jpg" class='responsive-img hide-on-med-and-up' />

<section id="members" class="section scrollspy grey lighten-5">
  <h2 class="center-align">Exec Board</h2>
  <div class='row'>
    {{#each execb as |exec| }}
      <div class='col s12 l4'>
        <div class='card grey darken-2'>
          <div class='card-content white-text'>
            <span class='card-title'>{{exec.title}}</span>
            <p>{{exec.brother_id.first_name}} {{exec.brother_id.last_name}}</p>
          </div>
          <div class='card-action'>
            <p class='white-text'>{{exec.email}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>

<div class="hide-on-med-and-down">
  {{md-parallax image="assets/images/flag.jpg"}}
</div>
<img src="assets/images/flag.jpg" class='responsive-img hide-on-med-and-up' />

<section id="rush" class="section scrollspy">
  <div class='row'>
      <h2 class="center">Rush Triangle</h2>
  </div>

  <div class='container'><div class='divider'></div></div>

  <h4 class="center-align">Events</h4>
    {{#each model.rushEvents as |event| }}
      <div class='row'>
        <div class='col m1 offset-m1 s12'>
          <div class='valign-wrapper'>
            <!-- Idk why this does not work -->
            <h6 class='valign'>{{event.date}}</h6>
          </div>
        </div>
        <div class='col m6 s12 offset-m1'>
          {{rush-card event=event}}
        </div>
      </div>
    {{/each}}
</section>

<div class="hide-on-med-and-down">
  {{md-parallax image="assets/images/fa16formal.jpg"}}
</div>
<img src="assets/images/fa16formal.jpg" class='responsive-img hide-on-med-and-up' />


<section id="scholarship" class="section scrollspy">
  <div class="container">
    <h2 class="center-align">Live-In Scholarship</h2>
    <p class="indent">The Triangle Fraternity Scholarship is awarded to four students who have displayed exemplary progress in academic excellence, community involvement, leadership, and personal balance. All incoming male freshmen studying science, engineering, or architecture
      are eligible. Triangle promotes a strong individual character that includes a blend of academic excellence, personal and leadership skills, and personal balance. We pride ourselves on having members who exemplify these qualities and thus select
      the best students in each incoming freshman class. We will invite four applicants to accept this award and live with us. The scholarship provides a reduced room and board cost of $6150 during the 2014-2015 academic year. This amount is a substantial
      $4500 less than the cost of living in a University Residence Hall.</p>

    <!-- Modal -->
    {{#unless showModal}}
    <div class='center'>
      {{md-btn text='More Info' action='openModal'}}
    </div>
    {{/unless}}

    {{#if showModal}}
        <div class='section'>
          <div class="modal-content">
            <h4 class="center-align">Triangle Fraternity Scholarship</h4>
            <div class="divider"></div>
            <p class="indent">
              As a fraternity that encourages the growth of talented, hard-working men, we expect that our winners will reap numerous benefits from living at Triangle. In turn, we believe these individuals will strengthen our brotherhood and ideals. As an incoming
              freshman, you will be faced with many important decisions in every aspect of your life. You will be challenged to balance your academic demands and to simultaneously develop the relationships and personal skills that will provide you with
              numerous intangible benefits for the rest of your personal and working life.
            </p>
            <p class="indent">
              All applicants will be judged on their academic excellence, community involvement, leadership experience, and overall individual balance. We will contact the top 15 students to set up an interview with members of the Triangle active and alumni chapter.
              All winners will become members of Triangle Fraternity if they wish upon successful completion of our standard new member process. Triangle has a strict anti-hazing policy and we have a flexible new member program to ensure the sustained focus
              on academic excellence that we expect from all of our members.
            </p>
            <p class="indent">
              Interested students and their families are encouraged to arrange a visit with us to experience Triangle first-hand. We realize that the decision to apply for such an award necessitates a great deal of consideration and deliberation, and we are happy to
              answer any questions or address any concerns you have.
            </p>
            <p class="indent">
              We hope that this letter has provided you with some insight into the benefits of the scholarship and what Triangle Fraternity has to offer. 2016 marks Triangle's 110th year on the University of Illinois campus, and during these years, Triangle has produced
              some of the most successful engineers, architects, and scientists in the world. We hope that you will become a part of our tradition and we look forward to being in contact with you.
            </p>
            <p class="indent">
              Applications are considered on a rolling basis and close July 31, 2017. Contact triangle.uiuc.rvp@gmail.com for any questions.
            </p>
            <div class="divider"></div>
            <div class='center'>
              <br/>
              {{md-btn text='Close' action='closeModal'}}
            </div>
          </div>
        </div>
    {{/if}}
  </div>
</section>

<div class="hide-on-med-and-down">
  {{md-parallax image="assets/images/envelope.png"}}
</div>
<img src="assets/images/envelope.png" class='responsive-img hide-on-med-and-up' />

<section id="contact" class="section scrollspy">
  <h2 class="center-align">Contact Information</h2>
  <div class="row">
    <div class="col s12 l6 hide-on-small-only">
      <div class="center">
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
        <iframe width="480" height="360" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJT5exbTfXDIgRAypB-U3DFHk&key=AIzaSyC2NVCFUvMukppbQZ0eINcMQ1RDwoiPDZA" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="center">
        <h5>Mailing Address</h5>
        <p>Triangle Fraternity</p>
        <p>112 E Daniel St</p>
        <p>Champaign, IL 61820</p>
        <br/>
        <h5>Connect with Us on <a href="https://www.facebook.com/pages/Triangle-Fraternity-Illinois/124723071469">Facebook</a></h5>
      </div>
    </div>
  </div>
</section>
