{{outlet}}
<div class="container">
  <h2>Image Uploading</h2>
  {{image-upload}}
  <div class='divider'></div>
  {{#each model.images as |image|}}
    <div class='row'>
      <p>Image</p>
      <img src="{{host}}{{image.url}}" class='responsive-img'/>
    </div>
  {{/each}}
</div>
